<div class="container">
        <div class="row">
            <h3>Media Report</h3>
            <div class="col-xs-12 col-sm-6 col-md-6 media-report-inner">
                <div class="col-xs-10 pull-right">
                    <div class="media-report-inner-video"> <img src="images/media-report-img.png" alt="" /> </div>
                    <div class="col-xs-12 media-report-bottom-con">
                        <div class="col-xs-5"><img src="images/fox-4-image.jpg" alt="" /></div>
                        <div class="col-xs-7"><span><strong>On Your Side: 5 Miles App</strong><br>
          Aug. 20,2015</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 media-report-inner">
                <div class="col-xs-10 pull-left">
                    <div class="media-report-inner-video"> <img src="images/media-report-img.png" alt="" /> </div>
                    <div class="col-xs-12 media-report-bottom-con">
                        <div class="col-xs-5"><img src="images/fox-4-image.jpg" alt="" /></div>
                        <div class="col-xs-7"><span><strong>On Your Side: 5 Miles App</strong><br>
          Aug. 20,2015</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>