<div class="container">
        <div class="row">
            <h3>CyberMiles partners & collaborators</h3>
            <div class="col-xs-12 text-center">
                <ul>
                    <li><img src="images/blockchain-ventures-image.png" alt="" /></li>
                    <li><img src="images/linkvc-image.png" alt="" /></li>
                    <li><img src="images/ColinStar-image.png" alt="" /></li>
                    <li><img src="images/aware-image.png" alt="" /></li>
                </ul>
                <ul>
                    <li><img src="images/anyong-image.jpg" alt="" /></li>
                    <li><img src="images/deloitte-image.png" alt="" /></li>
                    <li><img src="images/jindu-image.jpg" alt="" /></li>
                    <li><img src="images/locke-lord-image.png" alt="" /></li>
                </ul>
            </div>
        </div>
    </div>