<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ArcBlock</title>
    <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}css/media.css" rel="stylesheet" type="text/css">
    <script src="{{ .Site.BaseURL }}js/jquery.min.js" type="text/javascript"></script>
    <link href="{{ .Site.BaseURL }}css/owl.carousel.css" rel="stylesheet" type="text/css">
    <script src="{{ .Site.BaseURL }}js/owl.carousel.js" type="text/javascript"></script>


</head>

<body>
     {{ partial "header" .}}
     <section class="banner-outer-con">
        </section>
     {{.Content}}
     {{ range .Pages }}
          <div style="border: 1px solid black; margin:10px; padding:10px; ">
               <div style="font-size:20px;">
                    <a href="{{.URL}}">{{.Title}}</a>
               </div>
               <div style="color:grey; font-size:16px;">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
               <div style="color:grey; font-size:16px;">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
               <div style="color:grey; font-size:16px;">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

               <p style="font-size:18px;">{{.Summary}}</p>
          </div>
     {{ end }}
     {{ partial "footer" . }}
</body>
</html>